.header {
    background-color: cornflowerblue;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    text-align: center;
}

.assignmentBar {
    background-color: cornflowerblue;
    border-style: solid;
    border-color: black;
    border-bottom-width: 2px;
    text-align: left;
}

h1 {
    font-family: Tahoma;
}

body {
    background-color: lightgray;
}